
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#contenedor {
    width: 100%;
}

#cabecera {
    display: none;
}

#menu {
    float: right;
    display: none;
}


#contenido {
    background-color: #e2e2e2;
    width: 75%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

#pie {
    display: none;
}